.Banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    .Banner-txt {
        position: absolute;
        color: white;
        font-size: 48px;
        z-index: 3;
    }
    .Banner-img {
        width: 100%;
        border-radius: 25px;
        z-index: 2;
        filter: brightness(60%);
    }
}

@media (max-width: 720px) {
    .Banner {
        margin: inherit;
        .Banner-txt {
            font-size: 24px;
            display: flex;
            align-items: flex-start;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            width: 80%;
        }
        .Banner-img {
            width: 90%;
            border-radius: 10px;
            z-index: 1;
            height: 111px;
            object-fit: cover;
        }
    }
}