.flag {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
    .flag-txt {
        position: absolute;
        color: white;
        font-size: 48px;
        z-index: 3;
    }
    .flag-img {
        width: 100%;
        border-radius: 25px;
        z-index: 2;
        filter: brightness(60%);
    }
}

@media (max-width: 720px) {
    .flag {
        margin: inherit;
        .flag-txt {
            font-size: 24px;
            display: flex;
            align-items: flex-start;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            width: 50%;
        }
        .flag-img {
            border-radius: 10px;
            z-index: 1;
            height: 111px;
            object-fit: cover;
        }
    }
}