.rating-block {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex-wrap: nowrap;
    grid-column: 2/3;
    grid-row: 4;
}

@media (max-width: 720px) {

   .rating-block {
        height: 30%;
        width: 50%;
        grid-column: 1/4;
        grid-row: 5;
        justify-content: left;
        align-self: center;
        margin-left: 5%;
    }

}